<script>
    window.onload = function() {
          $('#dash').addClass("active");
      }
  </script>
      <script src="/admin/vendors/apexcharts/apexcharts.js"></script>
      <script src="/admin/js/pages/dashboard.js"></script>
    <div id="app">
        <%- include('../../partials/admin/menu.ejs') %>
        <div id="main">
            <header class="mb-3">
                <a href="#" class="burger-btn d-block d-xl-none">
                    <i class="bi bi-justify fs-3"></i>
                </a>
            </header>

            <div class="page-heading">
                <h3>Status dos Locais</h3>
            </div>
            <div class="page-content">
                <section class="row">
                    <div class="col-12 col-lg-12">
                        <div class="row">
                            <div class="col-6 col-lg-3 col-md-6">
                                <div class="card">
                                    <div class="card-body px-3 py-4-5">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="stats-icon bg-success">
                                                    <i class="fas fa-store"></i>
                                                </div>
                                            </div>
                                            <div class="col-md-8">
                                                <h6 class="text-muted font-semibold">Ativos</h6>
                                                <h6 class="font-extrabold mb-0"><%= ativos %></h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 col-lg-3 col-md-6">
                                <div class="card">
                                    <div class="card-body px-3 py-4-5">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="stats-icon bg-danger">
                                                    <i class="fas fa-store-slash"></i>
                                                </div>
                                            </div>
                                            <div class="col-md-8">
                                                <h6 class="text-muted font-semibold">Inativos</h6>
                                                <h6 class="font-extrabold mb-0"><%= inativos %></h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 col-lg-3 col-md-6">
                                <div class="card">
                                    <div class="card-body px-3 py-4-5">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="stats-icon bg-warning" >
                                                    <i class="far fa-clock"></i>
                                                </div>
                                            </div>
                                            <div class="col-md-8">
                                                <h6 class="text-muted font-semibold">Pendentes</h6>
                                                <h6 class="font-extrabold mb-0"><%= pendentes %></h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-12 col-xl-4">
                                <div class="card">
                                    <div class="card-header">
                                        <h4>Top 5 mais avaliados</h4>
                                    </div>
                                    <div class="card-body">
                                        <div class="table-responsive">
                                            <table class="table table-hover table-lg">
                                                <thead>
                                                    <tr>
                                                        <th>Local</th>
                                                        <th>Nota</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <%  mais_avaliados.forEach(function(mais_aval) { %>
                                                    <tr>
                                                        <td class="col-3">
                                                            <div class="d-flex align-items-center">
                                                                <div class="avatar avatar-md">
                                                                    <i class="fas fa-thumbtack"></i>
                                                                </div>
                                                                <p class="font-bold ms-3 mb-0"><%- mais_aval.nome %></p>
                                                            </div>
                                                        </td>
                                                        <td class="col-auto">
                                                            <p class=" mb-0"><%- mais_aval.count %> avaliações</p>
                                                        </td>
                                                    </tr>
                                                    <% }) %>   
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="col-12 col-xl-8">
                                <div class="card">
                                    <div class="card-header">
                                        <h4>Últimas 5 avaliações</h4>
                                    </div>
                                    <div class="card-body">
                                        <div class="table-responsive">
                                            <table class="table table-hover table-lg">
                                                <thead>
                                                    <tr>
                                                        <th>Local</th>
                                                        <th>Nota</th>
                                                        <th>Data</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <%  ultimos_comentarios.forEach(function(aval) { %>
                                                    <tr>
                                                        <td class="col-3">
                                                            <div class="d-flex align-items-center">
                                                                <div class="avatar avatar-md">
                                                                    <i class="fas fa-thumbtack"></i>
                                                                </div>
                                                                <p class="font-bold ms-3 mb-0"><%- aval.nome %></p>
                                                            </div>
                                                        </td>
                                                        <td class="col-auto">
                                                            <p class=" mb-0"><%- aval._id.nota %></p>
                                                        </td>
                                                        <td class="col-auto">
                                                            <p class=" mb-0"><%=  moment(new Date(aval._id.dataCriacao)).format('HH:mm:ss - DD/MM/YYYY') %></p>
                                                        </td>
                                                    </tr>
                                                    <% }); %>   
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                 </div>
            </div>
        </div>

